[submodule "chess-hackathon"]
	path = chess-hackathon
	url = https://github.com/StrongResearch/chess-hackathon.git
[submodule "examples"]
	path = examples
	url = https://github.com/pytorch/examples.git
